body{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* Header css Starts */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.nav-container{
    max-width: 1440px;
    height: 130px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;
}
.logo-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-container img{
    width: 86.041px;
height: 40px;
}
.logo-title{
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.logo{
    color: rgba(255,66 , 165, 1);
}

.nav-list a{
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* Header css Ends */



/* Banner Section Starts */

.banner-container{
    max-width: 1440px;
    margin: 10px 150px;
    
    display: flex;
    gap: 20px;
    align-items: center;
}
.banner-theme{
    color: #0B0223;
text-align: center;

font-size: 48px;

font-weight: 600;

text-transform: uppercase;
}
.banner-title{
    text-align: center;

font-size: 95px;

font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
text-transform: uppercase;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner-content p{
    color: #534C64;


font-size: 20px;

font-weight: 500;

text-transform: lowercase;
}

.btn-container{
    display: inline-flex;
    gap: 10px;
}

.btn-danger{
    
padding: 21px 40px;
align-items: flex-start;

border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
color: #FFF;

font-size: 20px;

font-weight: 600;

text-transform: uppercase;
}
.btn-danger:hover{
    cursor: pointer;
}

.btn-primary{
    padding: 21px 40px;
align-items: flex-start;
border: none;
color: #FFF;

font-size: 20px;

font-weight: 600;

text-transform: uppercase;
border-radius: 48px;
background: #4EC5F7;


}

.btn-primary:hover{
    cursor: pointer;
}

.banner-img{
    width: 100%;
    
    
    background-size: cover;
}

/* Banner Section Ends */

/* Online Game Section Starts */
.game-container{
    max-width: 1440px;
    
    text-align: center;
    
    
}
.game-content{
    
    
    
}
.game-title{
    color: #0B0223;


font-size: 48px;

font-weight: 700;
line-height: normal;
}
.funny-games{
 color: rgba(135, 88, 241, 1) ;
}
.game-content p{
    color: #534C64;
   
    font-size: 18px;
    
    font-weight: 400;
    line-height: 30px; 
}


.online-img-container{
    display: flex;
    gap: 5px;
    
}
.online-img-container p{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}


/* Online Game Section Ends */